{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Management App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'author_list' %}">Authors</a></li>
        <li><a href="{% url 'book_list' %}">Books</a></li>
    </ul>
    {% block body_block %}
    {% endblock %}
</body>
</html>